<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Halifax Bus Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="leaflet-rotatedmarker.js"></script>

    <link rel="stylesheet" href="style.css">
  </head>
  <body style="margin: 0px">
    <header>
        <h1>Halifax Bus Tracker</h1>
        <h2 class="font-satisfy">@ Designed by Jerry in NSCC, 2022</h2>
    </header>
    <main>
      <aside>
        <form action="#">
          <div class="flield">
            <label for="route-ID">Route ID</label>
            <input type="text" name="route-ID">
            <button type="submit">Go</button>
          </div>
        </form>
        <section>
          
        </section>
      </aside>
      <section>
        <div
          id="map-wrapper"
          style="width: 100%; height: 100%; position: fixed"
        >
          <div
            id="theMap"
            style="width: 100%; height: 100%; position: relative"
          ></div>
        </div>
      </section>
    </main>
    <script src="main.js"></script>
  </body>
</html>
