<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Halifax Bus Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/cferdinandi/tabby@12.0.0/dist/css/tabby-ui.min.css"
    />
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/tabby@12.0.0/dist/js/tabby.polyfills.min.js"></script>
  
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/tomik23/autocomplete@1.8.6/dist/css/autocomplete.min.css"
    />
    <script src="https://cdn.jsdelivr.net/gh/tomik23/autocomplete@1.8.6/dist/js/autocomplete.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="leaflet-rotatedmarker.js"></script>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body style="margin: 0px">
    <header>
      <h1>Halifax Bus Tracker</h1>
      <h2 class="font-satisfy">@ Designed by Jerry in NSCC, 2022</h2>
    </header>
    <main>
      <aside>
        <section>
          <div id="select-trip-head-sign">
            <label id="head-sign-lable" for="Head-Sign">Select Route</label>
            <div class="auto-search-wrapper loupe">
              <input
                id="input-head-sign"
                autocomplete="off"
                placeholder="enter a letter / number"
                type="text"
                name="Head-Sign"
              />
            </div>
          </div>
          <div id="select-trip">
            <label> Select A Trip</label>
            <select id="trip-id" name="trip-id-select">

            </select>
          </div>
        </section>
        <section></section>
      </aside>
      <section id="main-section">
        <div
          id="map-wrapper"
          style="width: 100%; height: 100%; position: fixed"
        >
          <div
            id="theMap"
            style="width: 100%; height: 100%; position: relative"
          ></div>
        </div>
        <div id="timer-30s"><span id="timer-tooltip">Bus will refresh in </span><span>30s</span></div>
      </section>
    </main>
    <script src="main.js"></script>
  </body>
</html>
